<div class="row text-center">
   
    <div class="col-md-6 offset-2" >
        <h4 class="text-info">You have reached the end of the Internet</h4>
        <hr />
        <a class="btn  btn-success" asp-action="Index" asp-controller="Movies" >Home Page</a>
    </div>
</div>